params {
    max_memory = 96.GB
    max_time = 120.h
    max_cpus = 24
}

apptainer {
    enabled       = true
    autoMounts    = true
    pullTimeout   = '40 min'

}
process {
    beforeScript        = "module load apptainer"
    executor            = 'slurm'
    clusterOptions      = '--account=def-rallard'
	scratch				= '$SLURM_TMPDIR'

}
workDir     =   'work'